absl-py==0.3.0
astor==0.7.1
click==6.7
cycler==0.10.0
Flask==1.0.2
gast==0.2.0
grpcio==1.14.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
Keras==2.0.8
git+https://www.github.com/keras-team/keras-contrib.git@ececa1b7afe09e3566ba2f19004aa24a655dd52f
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.15.0
pandas==0.23.3
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
setuptools==39.1.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
Werkzeug==0.14.1
